{% extends 'base.html' %}

{% block content %}
<div class="register-page-container">
    <form class="register-form" action="{{ url_for('register') }}" method="post">
        <h2>{{ translations['register'] }}</h2>
        
        <label class="form-label" for="email">{{ translations['email'] }}:</label>
        <input class="input-field" type="email" id="email" name="email" required>

        <label class="form-label" for="username">{{ translations['username'] }}:</label>
        <input class="input-field" type="text" id="username" name="username" required>

        <label class="form-label" for="password">{{ translations['password'] }}:</label>
        <input class="input-field" type="password" id="password" name="password" required>

        <label class="form-label" for="country">{{ translations['country'] }}:</label>
        <input class="input-field" type="text" id="country" name="country" required>

        <label class="form-label" for="city">{{ translations['city'] }}:</label>
        <input class="input-field" type="text" id="city" name="city" required>

        <label class="form-label" for="photo">{{ translations['photo'] }}:</label>
        <input class="input-field" type="file" id="photo" name="photo">

        <button class="submit-button" type="submit">{{ translations['register'] }}</button>
    </form>
</div>
{% endblock %}
